@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="AddCar" asp-controller="Car">Add car</a>
<a asp-action="AddTransmision" asp-controller="Transmision">Add Transmision</a>
<a asp-action="AddBodyType" asp-controller="BodyType">Add BodyType</a>
<a asp-action="GetCarById" asp-controller="Car">Get By id</a>